@font-face{
    font-family: abster;
    src:url(../../public/font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../../public/images/room.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.header h1 a{
    text-decoration: none;
    color: white;
    font-family: abster;
}

.nav ul{
    list-style-type: none;
}

.nav ul li{
    display: inline-block;
    margin:0 10px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav ul li a:hover{
    color: #1fdfdf;
}

.sector{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-square, .furniture-square {
    width: 600px;
    height: 400px;
    background: white;
    border: 5px solid darkseagreen;
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
}

.image-square img, .furniture-square img {
    width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
}

.button-container button {
    background: none;
    border:2px solid darkseagreen;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    margin: 0 10px;
}

.button-container button:hover{
    background-color: darkslategray;
}

.furniture-info {
    margin-top: 20px;
}